html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

div {
  margin: 20px 0;
}

#container {
  display: none;
}

.letters {
  visibility: hidden;
  margin-right: 20px;
}

#modal {
  width: 100%;
  height: 98vh;
  background-color: red;
}
